In [1]:
import numpy as np
import pandas as pd

In [2]:
mylist = [1, 2, 3]

In [3]:
myarray = np.array(mylist)
print(myarray)

[1 2 3]

In [5]:
myseries = pd.Series(myarray, index=['a', 'b', 'c'])
print(myseries)

a    1
b    2
c    3
dtype: int32

In [6]:
age = [23, 25, 22, 21]

In [7]:
pd.Series(age, index=["Michael", "Mike", "Jill", "Ali"])

Michael    23
Mike       25
Jill       22
Ali        21
dtype: int64

In [9]:
grades = [77, 80, 54, 66]
names = ["Seda", "Ahmet", "Ceren", "Serkan"]

In [10]:
grades_series = pd.Series(data=grades, index=names)
print(grades_series)

Seda      77
Ahmet     80
Ceren     54
Serkan    66
dtype: int64

In [11]:
grades_series += 5

In [12]:
print(grades_series)

Seda      82
Ahmet     85
Ceren     59
Serkan    71
dtype: int64